/* Color selected text differently */
::selection {
  /* background-color: #fef08a; */
}

#mark {
  position: relative;
}

#saveMark {
  width: 2em;
  height: 2em;
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/scroll.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
